.navbar.fixed-top {
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 20px;
    background-color: #2C3E50;
}

.navbar-brand {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.navbar-brand:hover {
    color: #B0BEC5;
}

@media (min-width: 768px) {
    .navbar.fixed-top {
        padding: 10px 100px;
    }
}

@media (min-width: 992px) {
    .navbar.fixed-top {
        padding: 10px 250px;
    }
}

.navbar-nav .nav-link {
    color: #FFFFFF;
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-link:hover {
    color: #B0BEC5;
}


.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B0BEC5;
    transition: width 0.3s ease;
}

.navbar-brand:hover::after{
    width: 100%;
}
.navbar-nav .nav-link:hover::after {
    width: 83%; 
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



